@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth; 
}
.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #072b6d; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 9999; 
}

.loading-spinner {
    border: 4px solid #f3f3f3; 
    border-top: 4px solid #3498db; 
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite; 
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.loading-screen p {
    margin-top: 10px;
    color: #fff; 
    font-size: 18px;
}

header {
    background-color: #1c1fcf80;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
}

.logo {
    text-decoration: none;
    color: #eceff7;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.hamburger span {
    display: block;
    width: 25px;
    height: 3px;
    background: #eceff7;
    margin: 5px 0;
    transition: 0.3s;
}

.nav-link {
    text-decoration: none;
    position: relative;
    padding-bottom: 2px;
}

.nav-link::after {
    content: '';
    display: block;
    width: 0;
    height: 1px;
    background: rgb(219, 219, 228);
    transition: width 0.3s;
    position: absolute;
    bottom: 0;
    right: 0;
}

.nav-link:hover::after {
    width: 90%;
}

.navigation a {
    color: #d9dce4;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;
    padding-left: 30px;
}

.navigation a:hover {
    color: #f0edf7;
}

.close-btn {
    display: none; 
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 2em;
    color: #eceff7;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .hamburger {
        display: block;
    }

    .navigation {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #272af0b9;
        padding: 40px 0 20px; 
        text-align: center;
    }
    
    .navigation.active {
        display: block;
    }

    .navigation a {
        display: block;
        padding: 15px 0;
        padding-left: 0;
    }

    header {
        padding: 10px 20px;
    }

    .close-btn {
        display: block; 
    }
}

section {
    padding: 100px 200px;
}

.main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: flex-end; 
    justify-content: center; 
    background-color: #000;
    background: url('./IMG/Gemini_Generated_Image_t2j80gt2j80gt2j8.png') no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    padding-bottom: 20px; 
}

.main h2 {
    color: #faececfb;
    font-size: 2em;
    font-weight: bold;
}

.main h4  {
    display: inline-block;
    margin-top: 10px;
    color: #3613ff;
    font-size: 2em;
    font-weight: 600;
    background-color: rgb(12, 13, 70); 
}

.main h3 {
    color: #fff;
    font-size: 1.5em;
    font-weight: bold;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.main-btn {
    color: #fff;
    background-color: #3a6cf4;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
    transition: 0.7s ease;
}

.main-btn:hover {
    background-color: #0a49f6;
    transform: scale(1.1);
}

.social-icons a {
    color: #fff;
    font-size: 1.7em;
    padding-right: 30px;
}

.social-icons a:hover {
    color: blue; 
}

.title {
    display: flex;
    justify-content: center;
    color: #3a6cf4;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
}

.title1 {
    display: flex;
    justify-content: center;
    color: #f4f6fa;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
}

.cardss {
    background-color: #080855;
    color: #f5f5ff;
    width: 100%;
    overflow: hidden;
}

.tech-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.icon {
    width: 50px;
    height: 50px;
    margin-bottom: 5px;
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    background-color: #fff;
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.7s ease;
}

.card:hover {
    transform: scale(1.1);
}

.card .icon {
    color: #3a6cf4;
    font-size: 8em;
    text-align: center;
}

.info {
    text-align: center;
}

.info h3 {
    color: #3a6cf4;
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
}

.projects {
    background-image: url(IMG/pro.png);     
}

.contact {
    background-color: rgb(12, 7, 85);
    background-size: 100% 100%; 
    background-position: center; 
}

.projects .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
}

.project-card {
    background-color: #dedfe4;
    border: 2px solid #3508fc;
    min-height: 14em;
    width: calc(33.33% - 40px);
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    transition: 0.7s ease;
    box-sizing: border-box;
}

@media (min-width: 641px) {
    .project-card {
        width: calc(33.33% - 40px);
        margin: 20px;
    }
}

@media (max-width: 640px) {
    .project-card {
        width: 100%; 
        margin: 20px 0;
    }
}

.project-card:hover {
    transform: scale(1.1);
}

.project-card:hover .project-image {
    opacity: 0.9;
}

.project-image img {
    width: 100%;
}

.project-info {
    padding: 1em;
}

.project-category {
    font-size: 0.8em;
    color: #000;
}

.project-title {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 10px;
}

.iconprojet {
    width: 30px;
    height: 30px;
}

.iconprojet:hover {
    background-color: #7694e9;
}

.more-details {
    text-decoration: none;
    color: #3a6cf4;
}

.more-details:hover {
    color: #601cfc;
}

.contact .icon {
    font-size: 4.5em;
}

.contact .info h3 {
    color: #000;
}

.contact .info p {
    font-size: 1.5em;
}

@media (max-width:1023px) {
    header {
        padding: 12px 20px;
    }

    .navigation a {
        padding-left: 10px;
    }

    .title {
        font-size: 1.8em;
    }

    section {
        padding: 80px 20px;
    }

    .main-content h2 {
        font-size: 1em;
    }

    .main-content h3 {
        font-size: 1.6em;
    }

    .content {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width:641px) {
    body {
        font-size: 12px;
    }

    .main-content h2 {
        font-size: 0.8em;
    }

    .main-content h3 {
        font-size: 1.4em;
    }
}

@media (max-width:300px) {
    body {
        font-size: 10px;
    }
}

.pointer {
    position: absolute;
    width: 35px; 
    top: 40px; 
    left: 120px; 
}

.card {
    position: relative;
    padding-left: 50px; 
}

#git:hover {
    background-color: #6c6ceb;
}

.form-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #070575;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    color: white; 
    margin-bottom: 8px;
    font-size: 16px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: white; 
    font-size: 14px;
    color: #333;
}

.sendButton {
    width: 100%;
    padding: 12px;
    background-color: rgb(6, 48, 184); 
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.sendButton:hover {
    background-color: rgb(22, 94, 189); 
}

.cursor {
    display: inline-block;
    width: 2px;
    background-color: #4f1ae4;
    animation: blink 0.7s steps(1) infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

.im {
    width: 70px;
    height: 70px;
}
